<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SeleniumConfig" type="System.Configuration.NameValueSectionHandler" />
    <section name="TestConfigulation" type="System.Configuration.NameValueSectionHandler" />
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <SeleniumConfig>
    <add key="BrowserType" value="Chrome" />  
  </SeleniumConfig>

  <TestConfigulation>
    <add key="BaseUrl" value="https://adactinhotelapp.com/" />
    <add key="UserName" value="diwanbisht" />
    <add key="Password" value="Testing" />  
  </TestConfigulation>  
</configuration>
